.make-payment-row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    box-sizing: border-box;
    /* background-color: white; */
    padding: 5%;
  }

  .make-payment-col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    box-sizing: border-box;
  }

  .make-payment-col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    box-sizing: border-box;
  }

  .make-payment-col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
    box-sizing: border-box;
  }

  .make-payment-col-25,
  .make-payment-col-50,
  .make-payment-col-75 {
    padding: 0 16px;
    box-sizing: border-box;
  }

  .make-payment-container {
    background-color: #000000;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
  }

  .make-payment-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(37, 36, 36);
    color:black;
    border-radius: 9px;
    box-sizing: border-box;
    background-color: aliceblue;
  }

  .make-payment-input:focus {
    background-color: rgb(214, 212, 212);
    color:rgb(0, 0, 0)
  }

  .make-payment-label {
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
    font-weight: bolder;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
    box-sizing: border-box;
  }

  .make-payment-btn {
    background-color: #000000c0;
    color: #FFFFFF;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 50%;
    border-radius: 3px;
    font-weight: bold;
    cursor: grab;
    font-size: 17px;
    box-sizing: border-box;
    margin-left: 225px;
  }

  .make-payment-btn:hover {
    background-color: #636363;
    box-sizing: border-box;
  }

/* input[type="text"] {
  border-radius: 10%;
} */

.make-payment-sender-details {
    font-weight: bolder;
  /* text-decoration: underline; */
  font-size:xx-large;
}

.make-payment-receiver-details {
    font-weight: bolder;
  /* text-decoration: underline; */
  font-size:xx-large;
}
.make-payment-wrapper{
  background-color: rgb(255, 255, 255);
  
  border:7px solid rgb(0, 174, 255);
  border-radius: 2%;
  color:#000000;
}