.purple{
    background-color: #f125e04f;
}
.blue
{
    background-color: rgba(12, 214, 250, 0.282);
}
.nav-item
{
    font-weight: 500;
    display: flex;
    border-radius: 20px;
    margin: 2px;
    align-items: center;
}
.SideNav{
    width: 100%;
    justify-content: center;
}
.nav-link{
    color:rgba(255, 100, 100, 0.295);
}
.purpleText
{
    color: rgb(174, 0, 255);
}
.blueText{
    color:rgb(22, 61, 255);
}
