.homeLoanHeader{
    /* color:rgb(255, 0, 128) */
    color:var(--bBlue)
    /* color: red; */
}
.homeLoancustBtn1{
    width: 17%;
    padding: 1%;
    margin-top:2% ;
    /* background-color: rgb(40, 139, 226); */
    background-color: var(--bBlue);
    font-weight: 500;
    border: 0px;
    border-radius: 3px;
    color:rgb(22, 20, 20);
    margin-left: 1.8%;

}
.custCol{
    display: flex;
    justify-content: center;
}
.homeLoanInps{
    background-color: rgb(58, 55, 58);
    border:3px solid rgb(112, 112, 112);
    color: white;
}
.homeLoanInps :focus{

    background-color: rgb(10, 10, 10);
    border:3px solid rgb(117, 117, 117);
    color:var(--bBlue)
}
.homeLoanForm input[type=text]:focus{
    background-color: rgb(77, 76, 76);
    border:3px solid rgb(117, 117, 117);
    color:var(--bBlue)
}
.homeLoanForm input[type=number]:focus{
    background-color: rgb(77, 76, 76);
    border:3px solid rgb(117, 117, 117);
    color:var(--bBlue)
}

.homeLoanTextArea {
    background-color: rgb(77, 76, 76);
    border:3px solid rgb(117, 117, 117);
    color:var(--bBlue)
}

.home-loan-form-span {
    color: #F00;  
}

.home-loan-form-icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background: #eeeeee;
    height: 42px;
    position: relative;
    text-align: center;
    line-height: 40px;
}
