@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.login {
    margin-top: 15%;
    margin-right: 20px;
    margin-left: 60px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.login input[type="text"] {
    padding: 10px 10px 10px 10px;
    margin: 2px 2px 2px 2px;
    width: 60%;
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
    border-bottom: 3px solid rgb(241, 101, 234);

}


.login input[type="password"] {
    padding: 10px 10px 10px 10px;
    width: 60%;
    margin: 2px 2px 2px 2px;
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
    border-bottom: 3px solid rgb(241, 101, 234);

}
input{
    outline: none;
    box-shadow:none !important;
}

.login input[type="password"]:focus
{
    background-color: whitesmoke;
    border-top: 1px solid white !important;
    border-right: 1px solid white !important;
    border-left: 1px solid white !important;
    border-bottom: 4px solid rgb(241, 101, 234);
}
.login input[type="text"]:focus
{
    background-color: whitesmoke;
    border-top: 1px solid white !important;
    border-right: 1px solid white !important;
    border-left: 1px solid white !important;
    border-bottom: 4px solid rgb(241, 101, 234);
}
.login input[type="password"]::placeholder{
    color: #969595;
}

.login input[type="text"]::placeholder{
    color: #969595;
}
.forgot_link {
    text-decoration: none;
    outline: none;
}
a{
    text-decoration: none;
}
.Login_Image{
    margin-top: 1%;
    width: 125%;
    height: 110%;
    margin-right: 20px;
    
}
.Login_text{
    width:20%;
    border-bottom: 5px solid rgb(202, 46, 250);
}
.loginbtn{
    width: 60%;
    color: rgb(255, 255, 255);
    background-color: rgb(202, 46, 250);
    font-weight: bolder;
    font-size:large;
    border:1px solid white

}
.loginbtn:hover{
    background-color: #aa0ce9;
    border:1px solid white
}

.login_header {
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 43%;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
    font-size: 300%;
    background-color: #f907fc;
    background-image: linear-gradient(15deg, #e01384 ,#d00df7);
    border-bottom: 5px solid rgb(202, 46, 250);
    width: 100%;
}
.form-label{
    font-size: 110%;
    
}